* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: calc(100vh - 60px);
    background-color: #000;
    background-image: url('../images/back.jpg');
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}

header {
    margin: 60px auto;
    width: 90%;
    height: 70px;
    display: flex;
    justify-content: space-between;
}

header a {
    cursor: pointer;
}

header span {
    color: white;
}

.icons img {
    width: 20px;
    margin: 5px;
}

.letra {
    font-family: Nosifer;
}

.hello {
    font-weight: bold;
    color: #FCFDFD;
    font-size: 10em;
    letter-spacing: 25px;
}

.subTitle {
    color: #FCFDFD;
    font-size: 1em;
    letter-spacing: 2px;
}

section span {
    display: flex;
    justify-content: space-evenly;
}

section div {}

section {
    display: flex;
    flex-direction: column;
}